body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  margin: 3px;
}

.registration {
  padding-top: 3%;
    padding-bottom: 5%;
    font-size: 1.2rem;
    
}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 10px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  margin: 5px 0 22px 0;
  border: 3px;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 680px;
  height: 50px;
  
  
  opacity: 0.9;
}

/* Set a style for the submit button */
.loginbtn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  
  width: 680px;
  height: 50px;
  
  opacity: 0.9;
}




.registerbtn:hover {
  opacity: 10;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.heading1 {
  font-size: 50px;
  color: purple;
}

#main {
    
    
    position: relative;
    
    padding: 2%;
    border-radius: 5%;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
}

function openWin() {
  window.open("login.html");
}