{% extends "layout.html" %}


{% block content %}
<div class="container">
    <h1 style="margin:20px;">User Admin page</h1>
    <table class="table table-bordered table-dark">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Time created</th>
            </tr>
        </thead>
        <tbody>

            {% for row in users %}
            <tr>
                <th scope="row"> {{ loop.index }} </th>
                <td>{{row.Username}}</td>
                <td>{{row.Password}}</td>
                <td>{{row.Time_registered}}</td>
            </tr>
            {% endfor %}

</tbody>
</table>

</div>


{% endblock %}