{% extends "layout.html" %}





{% block content %}
   
      


<div class="container">
  <h1 style="margin:20px;">Book Details</h1>
                
        <h2>ISBN : {{book.isbn}} </h2>     
       <h2> Title:  {{book.tittle}}  </h2>       
        <h2> Author: {{book.author}} </h2>    
        <h2> Year : {{book.year}} </h2> 
</div>   


 <div class="container">
        <div class="clearfix">
            
            <table id="tab">
                <tr>
                    <thead>
                        <h1>{{book.tittle}}</h1>
                    </thead>

                </tr>

                <tr>
                <td><b>Review Count:&nbsp&nbsp</b>{{res['reviews_count']}}</td>
                </tr>
                
            
            </table>

        </div>
</div>

        <hr>


    
   <div style="display:{{property}}" class="container">
                    <form action="{{url_for('bookpage',isbn=book.isbn)}}" method="POST">
                        <div class="rate">

                            <h4 class="starhead">Rating</h4>

                            <input type="radio" id="star5" name="rating" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label for="star1" title="text">1 star</label>

                        </div>

                        <div id="text" class="row">
                            <div class="col-75">
                                <textarea id="Review" name="review" placeholder="Write your review.."
                                    style="height:200px"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <input class="bttn" type="submit" value="Submit">
                        </div>

                    </form>
     </div>
   <hr>

<div class="reviews">
                    <p style="color:rgb(22, 233, 22);text-align:center;">{{message}}</p>
                    <h2 id="heading">Reviews</h2>

                    {% for i in review %}
                    <div class="review-body">
                        <p>
                            <b>{{i.Username}}</b> <br>
                            {{i.Review}}
                        </p>
                    </div>
                    <hr>
                    {% endfor %}

</div>



{% endblock %}