{% block links %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}
{%block scripts%}
<script type = "text/javascript">
function bookdisplay(arg) {
  var requestobj = {}
  var url = "/api/book"
  requestobj["isbn"] = arg.id
  $.ajax({
        type: "GET",
        url: url,
        data: requestobj,
        success: function(data)
        {
          console.log(data.reviews);

          var htmltext = "<p id = 'isbnofbook'>"+data.isbn +"</p><ul>";
          for(var i = 0; i < data.reviews.length; i++) {
            htmltext = htmltext + "<li><p>" + data.reviews[i]["email"] + " ===> " + data.reviews[i]["comment"] +"</p></li>"
          }
          htmltext = htmltext + "</ul>"
          $("#reviewresults").html(htmltext);
          
        }
      });
 }
 </script>
 {% endblock %}

{% block body %}  
    <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #e3f2fd;" >
            <a class="navbar-brand">{{message}} {{username}}</a>
            <form class ="form-inline" > 
              
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formmethod="GET" formaction=" {{url_for ('logout'
              )}}">Logout</button>
            
            </form>
          </nav>   
<button onclick="bookdisplay(1416949658)">bookdetails</button>
{% endblock %}