<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="C:\Users\Naveen\Desktop\Project1\project-1-2019501102\project1\static\registration_css.css">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration_css.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='registration_css.css') }}">

  <link rel="stylesheet" type="text/css" href="C:\Users\Naveen\Desktop\Project1\project-1-2019501102\project1\static\registration_css.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search_style.css') }}">


 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

    {% endblock %}

</head>

<body>
    {% block content %}
    {% endblock %}

</body>
</html>