{% extends "layout.html" %}

{% block content %}

 <div class="container">
    <div class = "heading1"
        <h1>Register</h1>
    </div>
    <p>Please fill in this form to create an account.</p>
    <hr>

  <div class="container" id="main">
    <div class="registration">
      <form>
        <p style="color:red;">{{ message }}</p>
        <label for="uname">UserName</label><br />
        <input type="text" id="uname" name="uname" /><br />
        <label for="email">Email ID</label><br />
        <input type="text" id="email" name="email" /><br />
        <input type="radio" id="male" name="gender" value="male" />
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female" /> 
        <label for="female">Female</label><br />
        <br>
        <label for="pwd">Password</label><br />
        <input type="text" id="pwd" name="pwd" /><br />
        <label for="cpwd">Confirm Password</label><br />
        <input type="text" id="cpwd" name="cpwd" /><br />

       <div >
        <button type="submit"  class = registerbtn formmethod="POST"
          formaction="{{ url_for('register') }}">Register</button>

          <button type="submit"  class = registerbtn formmethod="GET"
          formaction="{{ url_for('login') }}">Login</button>

          

        </div>


          

        <div class="container signin">
    <p>Already have an account? Please Login</a>.</p>
        </div>


      </form>
    </div>
  </div>


  </div>
  
  
{% endblock %}