
{% extends "layout.html" %}


{% block content %}
<section class="book" >

<form>
<button type="submit"  class = "btn1" formmethod="POST"
          formaction="{{ url_for('register') }}">Logout</button>
<div class="container" >
</form>

    

  <div class="row">
    
    
 
    <div class="col-sm-12">


      <div class="content">



        <h2>Search for any book using ISBN, Book Name or Author name</h2>
        <form>
        <div>
              <input type="text" class="form-control" id="search" name="search" placeholder="Enter name,isbn or author">
              <span class="input-group-btn">
         
              <button class="btn" type="submit" formmethod="POST" formaction="{{ url_for('search',username=username) }}">Search</button>



              </span>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>

</section>


<div class="container">
        <h1 style="margin:20px;">Books available <p style="color:red;">{{ message }}</p> </h1>
        
        <table class="table table-bordered table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>

                {% for book in books %}
                <tr>
                    <th scope="row"> {{ loop.index }} </th>
                    <td><a href="{{url_for('bookpage')}}">{{book.isbn}}</a> </td>
                    <td>{{book.tittle}}  </td>
                    <td>{{book.author}} </td>
                </tr>
                {% endfor %}

</tbody>
    </table>

    </div>


    

{% endblock %}

